body.watches {
  background-color: #222;
  color: #777;
}
.container {
  max-width: 1070px !important;
}
article h1 {
  border-bottom: 2px solid #090909;
  padding: 0.5em 0 1em;
  position: relative;
}
article h1::after {
  content: '';
  display: block;
  border-top: 1px solid #333;
  position: absolute;
  bottom: -3px;
  width: 100%;
}
.nav-pills {
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #CCC !important;
  color: #222 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #333 !important;
}
.nav a {
  color: #CCC !important;
}
button {
  display: block;
}
article figure {
  margin-top: 20px;
}
article figure > img {
  margin-bottom: 30px;
}
footer {
  background-color: #111;
  color: #444;
  margin: 30px 0 0;
  padding: 20px 0;
}
footer address {
  margin: 0;
}
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
.thumb:hover {
  cursor: pointer;
  opacity: 0.7;
}